<h2>About KallyRazor</h2>

<p>
    Coming from the .NET world, I've always really enjoyed using Razor to create my web sites.  When I finally
    decided to give Node.js a try I really wanted something similar to Razor.  There are many alternatives that
    exist, but none of them quite fit what I wanted.  The beauty of being a programmer is filling in the gaps.
    Not just contributing to projects that you think are promising, but creating new ones that fill a need for
    you and possibly others.
</p>

<p>
    I may be alone in this journey, but that's OK.  I'm truly just here to learn and to provide myself with a
    tool that fills a gap I have.
</p>